/*********************************/
/********** Typography ***********/
/*********************************/




/*********************************/
/*********** Buttons *************/
/*********************************/





/*********************************/
/******** Class Helpers **********/
/*********************************/
.icon {
	display: inline-block;
}

.container {
	@media (min-width:1100px) {
		width: 1030px;
	}
	@media (min-width:1200px) {
		width: 1170px;
	}

	[class^='col-'] {
		padding: 0;
	}
	[class*='col-'] {
		padding: 0;
	}
}

.btn {
	font-size: 26px; font-family: $i-black; text-transform: uppercase; text-align: left;
	display: block; position: relative; left: -28px; padding: 14px 27px 25px;
	background: transparent; border: solid 2px #ffffff; border-radius: 0;
	&:hover {
		color: $main-dark;
		background: #ffffff;
	}
}


.no-wrap {
	white-space: nowrap;
}

.ov-hidden {
	overflow: hidden;
}

/*********************************/
/*********** Modules *************/
/*********************************/
// header socials
ul.header-socials {
	position: absolute; top: 255px; right: -147px; transform: translate(-50%,-50%) rotate(90deg); z-index: 10;
	@include respond-to(md) {
		display: none;
	}
	li {
		display: inline-block; margin-left: 27px;
		&:first-child {
			margin-left: 0;
		}
		a {
			font-size: 14px; font-family: $s-regular; letter-spacing: 0.2px; text-shadow: 1px 1px 0 #000;
			position: relative; display: inline-block;
			&:after {
				content: '';
				display: block; width: 0%; height: 1px; position: absolute; left: 50%; bottom: -1px; transform: translateX(-50%);
				background: #ffffff;
				transition: .4s ease-out;
			}
			&:hover {
				color: #ffffff;
				&:after {
					width: 100%;
				}
			}

			.light & {
				text-shadow: none;
				&:after {
					background: $main-dark;
				}
				&:hover {
					color: $main-dark;
				}
			}
		}
	}
}

// Header
.header {
	display: flex; z-index: 115; position: relative; z-index: 100;
	&.menu {
		a.burger {
			display: block; margin-right: 35px;
		}

		nav {
			ul.navigation {
				li {
					&.active {
						a {
							color: $main-light; font-family: $i-black;
							pointer-events: none;
						}
					}
				}
			}
		}
	}
	a.logo {
		margin-right: 33px; position: relative;z-index: 105;
	}
	a.burger {
		display: none; position: relative;z-index: 105; width: 25px; height: 26px; padding-top: 6px;

		@include respond-to(md) {
			display: block;
		}

		&.active {
			span {
				&:nth-child(1) {
					top: 12px; transform: translateX(-50%) scale(0);
				}
				&:nth-child(2) {
					transform: rotate(45deg);
				}
				&:nth-child(3) {
					transform: rotate(-45deg);
				}
				&:nth-child(4) {
					top: 12px; transform: translateX(-50%) scale(0);
				}
			}
		}

		span {
			display: block; width: 21px; height: 2px; position: absolute;
			background: #ffffff;
			transition: .4s ease-out;
			&:nth-child(1) {
				top: 6px; left: 50%; transform: translateX(-50%) scale(1);
			}
			&:nth-child(2), &:nth-child(3) {
				width: 100%; top: 12px; left: 0; transform: rotate(0);
			}
			&:nth-child(4) {
				top: 18px; left: 50%; transform: translateX(-50%) scale(1);
			}

			.light & {
				background: $main-dark;
			}
		}
	}

	nav {
		padding-top: 3px;
		@include respond-to(md) {
			// position: fixed; width: 100%; left: 0; top: 0; bottom: 0; right: 0;  z-index: 100; transform: translateX(-100%); padding: 130px 15px 0;
			// background: $main-dark;
			// transition: 0.4s ease-out;
			display: none;
		}
		// &.active {
		// 	transform: translateX(0);
		// }
		ul.navigation {
			
			li {
				display: inline-block; margin-right: 21px;
				@include respond-to(md) {
					text-align: center;
					display: block; margin-bottom: 15px; margin-right: 0;
				}
				&:last-child {
					margin-right: 0;
				}
				&.active {
					a {
						font-family: $i-light;
						pointer-events: none;
					}
				}
				a {
					color: #ffffff; font-size: 15px; font-family: $i-black; text-transform: uppercase;
					display: inline-block; position: relative;
					@include respond-to(md) {
						font-size: 24px; line-height: 24px;
					}
					&:after {
						content: '';
						display: block; width: 0%; height: 2px; position: absolute; left: 50%; bottom: -2px; transform: translateX(-50%);
						background: #ffffff;
						transition: .4s ease-out;
					}
					&:hover {
						&:after {
							width: 100%;
						}
					}

					.light & {
						color: $main-dark;
						&:after {
							background: $main-dark;
						}
					}
				}
			}
		}
	}
}

// Navigation
.navigation {
	nav {
		position: relative; left: -7px;
		ul.links {
			margin-bottom: 42px;
			li {
				&.active {
					a {
						font-family: $i-thin;
						pointer-events: none;
					}
				}
				a {
					font-size: 110px; font-family: $i-black; line-height: 90px; letter-spacing: -2.7px; text-transform: uppercase;
					display: inline-block;
					&:hover {
						color: #ffffff; font-family: $i-thin;
					}

					.light & {
						color: $main-dark;
						&:hover {
							color: $main-dark;
						}
					}
				}
			}
		}
		ul.socials {
			display: flex; padding-left: 9px;
			li {
				margin-right: 50px;
				&:last-child {
					margin-right: 0;
				}
				a {
					display: inline-block;
					&:hover {
						i {
							&.fa-instagram {
								color: #af1581;
							}
							&.fa-vk {
								color: #5082b9;
							}
							&.fa-facebook {
								color: #3b5998;
							}
						}
					}
					i {
						font-size: 30px; line-height: 30px;
						&.fa-facebook {
							font-size: 22px; line-height: 32px;
						}
					}
				}
			}
		}
	}

	.proposition {
		position: relative; z-index: -1;
		figure {
			position: absolute; left: calc(50% - 3px); bottom: -173px;
			&:after {
				content: '';
				display: block; width: 88px; height: 96px; position: absolute; right: -30px; top: -7px;
				background: url('../img/summer-proposition.png') center center no-repeat;
			}
			figcaption {
				position: absolute; left: -82px; bottom: 40px;
				h3 {
					font-size: 60px; font-family: $i-black; text-transform: uppercase; letter-spacing: 3.2px;
				}
				p {
					font-size: 46px; font-family: $cp-light-LC; line-height: 42px; letter-spacing: -0.6px;
					position: relative; left: -3px;
				}
			}
		}
	}
}

// Footer
.footer {
	* {
		position: relative;z-index: 5;
	}
	i.icon-logo-footer {
		margin-bottom: 5px;
	}

	a.logo {
		display: inline-block; margin-bottom: 32px;
	}

	nav {
		margin-bottom: 23px;
		ul {
			display: flex;
			li {
				margin-right: 35px;
				&.active {
					a {
						font-family: $i-light;
						pointer-events: none;
					}
				}
				a {
					color: #ffffff; font-size: 15px; font-family: $i-black; text-transform: uppercase; letter-spacing: 1px;
					display: inline-block; position: relative;
					&:after {
						content: '';
						display: block; width: 0%; height: 2px; position: absolute; left: 50%; bottom: -2px; transform: translateX(-50%);
						background: #ffffff;
						transition: .4s ease-out;
					}
					&:hover {
						&:after {
							width: 100%;
						}
					}

					.light & {
						color: $main-dark;
						&:after {
							background: $main-dark;
						}
					}
				}
			}
		}
	}

	ul.socials {
		display: flex; margin-bottom: 44px;
		li {
			margin-right: 18px;
			a {
				&:hover {
					i {
						&.fa-instagram {
							color: #af1581;
						}
						&.fa-vk {
							color: #5082b9;
						}
						&.fa-facebook {
							color: #3b5998;
						}
					}
				}
				i {
					font-size: 22px; line-height: 22px;
					&.fa-facebook {
						font-size: 16px;
					}
				}
			}
		}
	}

	p {
		font-size: 13px; font-family: $s-book;
		opacity: 0.2;
		span {
			font-family: $s-medium;
		}
	}
}

// Section header
.section-header {
	position: relative; left: -4px; z-index: 2;
	h2 {
		font-size: 130px; font-family: $i-black; text-transform: uppercase; letter-spacing: -2px; line-height: 110px;
		@include respond-to(md) {
			font-size: 100px; line-height: 80px;
		}
		@include respond-to(sm) {
			font-size: 80px; line-height: 70px;
		}
		@include respond-to(xs) {
			font-size: 40px; line-height: 36px;
		}
	}
	h3 {
		font-size: 130px; font-family: $cp-light-LC; letter-spacing: -3.9px; line-height: 110px;
		position: relative; top: -2px;
		@include respond-to(md) {
			font-size: 100px; line-height: 80px;
		}
		@include respond-to(sm) {
			font-size: 80px; line-height: 70px;
		}
		@include respond-to(xs) {
			font-size: 40px; line-height: 36px;
		}
		span {
			color: $main-light; font-family: $i-black;
		}
	}
}

//=======================//
//====== Main Page ======//
//=======================//
.main {
	&-intro {
		&-header {
			padding-top: 10px; margin-bottom: 57px;
			h1 {
				font-size: 170px; font-family: $i-black; text-transform: uppercase; line-height: 134px; letter-spacing: -3.2px;
				position: relative; left: -10px;
				span {
					font-family: $cp-light-LC; text-transform: initial; letter-spacing: -8.3px;
				}
			}
		}

		&-body {
			p {
				font-size: 16px; font-family: $s-regular; line-height: 26px;
				margin-bottom: 20px;
			}

			a {
				width: 398px;
			}
		}
	}

	&-slider {
		padding-top: 41px;
		p {
			font-size: 16px; font-family: $s-regular; line-height: 26px;
			margin-bottom: 15px;
		}
		h3, a {
			font-size: 16px; font-family: $i-black; text-transform: uppercase; letter-spacing: 0.85px; line-height: 22px;
			display: inline-block;
		}
		a {
			position: relative;
			&:after {
				content: '';
				display: block; width: 0%; height: 1px; position: absolute; left: 50%; bottom: -2px; transform: translateX(-50%);
				background: #ffffff;
				transition: .4s ease-out;
			}
			&:hover {
				color: #ffffff;
				&:after {
					width: 100%;
				}
			}
		}
	}

	&-info {
		padding-top: 40px;
		& > p {
			font-size: 16px; font-family: $s-book; line-height: 28px;
			margin-bottom: 18px;
		}

		ul {
			padding-top: 13px;
			li {
				margin-bottom: 23px;
				&:last-child {
					margin-bottom: 0;
				}
				p, span {
					font-size: 18px; text-transform: uppercase; letter-spacing: -0.25px;
				}
				p {
					font-family: $i-black;
					margin-bottom: 5px;
				}
				span {
					font-family: $i-light;
				}
			}
		}
	}

	&-map {
		padding-top: 46px;
		h4 {
			font-size: 20px; font-family: $i-black; text-transform: uppercase;
			margin-bottom: 6px;
		}
		ul {
			li {
				font-size: 14px; font-family: $s-book; line-height: 18px;
				span {
					font-family: $s-bold;
				}
			}
		}
	}
}


//=======================//
//====== BHF Page =======//
//=======================//
.bhf {
	&-intro {
		&-header {
			@extend .main-intro-header;
			margin-bottom: 60px;
		}
		&-body {
			@extend .main-intro-body;
			a.btn {
				letter-spacing: -1.3px;
				width: calc(100% + 15px); left: -16px; top: 2px; 
			}
		}
	}
	&-slider {
		@extend .main-slider;
		h3 {
			font-size: 18px;
		}
		p {
			font-size: 18px;
		}
	}
	&-join-info {
		ul {
			padding-top: 3px; margin-bottom: 50px;
			counter-reset: list; 
			li {
				font-size: 130px; font-family: $cp-light-LC; line-height: 115px; letter-spacing: -2.3px;
				&:before {
					counter-increment: list;
					content: counter(list) ". ";
					color: $main-light; font-size: 130px; font-family: $i-black; letter-spacing: -3.5px;
				}
			}
		}

		p {
			font-size: 18px; font-family: $s-book; line-height: 26px;
			margin-bottom: 8px;
		}

		a.btn {
			display: block; width: 100%; margin-top: 46px; padding: 13px 27px 24px; left: 0;
			border-width: 3px;
		}
	}

	&-activation {
		form {
			position: relative; z-index: 5; padding-top: 115px;
			.floating-labels {
				position: relative; margin-bottom: 45px;
				input {
					
				}
				label {
					font-size: 18px; font-family: $s-regular;
					position: absolute; top: 4px; left: 0;
					transition: .15s ease-out;
					pointer-events: none;
					opacity: 0.2;
				}
				input:valid ~ label, select:valid ~ label {
					font-size: 12px; font-family: $i-black; text-transform: uppercase;
					top: -22px;
					opacity: 1;
				}
			}
			select {
				font-size: 18px; font-family: $s-regular; line-height: 26px;
				width: 100%; display: block; padding-bottom: 9px;
				background: transparent; border: none; border-bottom: solid 3px #ffffff;
				option {
					color: $main-dark;
				}
			}
			input {
				&[type=text] {
					font-size: 18px; font-family: $s-regular; line-height: 26px;
					display: block; width: 100%; padding-bottom: 9px;
					background: transparent; border: none; border-bottom: solid 3px #ffffff;
				}
				&[type=checkbox] {
					display: none;
				}
			}
			label {
				font-size: 12px; font-family: $s-regular;
				&.agreement {
					line-height: 16px;
					padding-left: 45px; position: relative; top: -4px; margin-bottom: 77px;
					&:before {
						content: '\f00c';
						color: transparent; font: normal normal normal 22px FontAwesome;
						display: block; width: 32px; height: 32px; padding: 2px 0 0 2px; position: absolute; left: 0; top: 4px;
						border: solid 3px $main-light;
						opacity: 1; cursor: pointer; transition: 0.15s ease-out;
					}
					span {
						opacity: 0.2;
					}
					a {
						position: relative; display: inline-block;
						opacity: 0.2;
						transition: .4s ease-out;
						&:after {
							content: '';
							display: block; width: 0%; height: 1px; position: absolute; left: 50%; bottom: -1px; transform: translateX(-50%);
							background: #ffffff;
							transition: 0.4s ease-out;
						}
						&:hover, &:focus, &:active {
							color: #ffffff;
							opacity: 1;
							&:after {
								width: 100%;
							}
						}
					}
				}
			}
			input[type=checkbox]:checked ~ label {
				&:before {
					color: $main-light;
				}
			}
			button {
				@extend .btn;
				left: 0; width: 100%; padding: 13px 27px 24px;
				border-width: 3px;
			}
		}
	}
}


//=======================//
//== Burger Place Page ==//
//=======================//
.burgerPlace {
	&-intro {
		&-header {
			@extend .main-intro-header;
			margin-bottom: 69px;
			h1 {
				line-height: 140px; letter-spacing: -9.7px;
				margin-bottom: 50px;
			}

			ul {
				padding-left: 7px;
				li {
					font-size: 36px; line-height: 48px; letter-spacing: 0.6px;
					display: flex;
					&:last-child {
						margin-bottom: 0;
					}
					span {
						font-family: $i-black; letter-spacing: -1.2px;
						margin-right: 10px;
					}
					p {
						font-family: $cp-light-LC; 
					}
				}
			}
		}

		&-body {
			ul {
				display: flex; flex-wrap: wrap; margin-bottom: calc(-23px + 84px);
				li {
					width: 40%; padding-top: 70px; position: relative; margin-bottom: 23px;
					&:nth-child(3) {
						width: 20%;
					}
					i {
						position: absolute; left: 0; top: 32px; transform: translateY(-50%);
					}

					p {
						font-size: 14px; font-family: $i-black; text-transform: uppercase;
					}

					span {
						font-size: 14px; font-family: $s-book; line-height: 14px;
						position: relative; top: -3px;
					}
				}
			}

			& > p {
				font-size: 16px; font-family: $s-book; line-height: 28px;
				margin-bottom: 42px;
			}

			& > a {
				font-size: 14px; font-family: $i-black; text-transform: uppercase;
				margin-left: 6px;
				&:hover {
					span {
						&:after {
							width: 100%;
						}
					}
				}
				i {
					position: relative; top: 11px; margin-right: 15px;
				}
				span {
					position: relative;
					display: inline-block;
					&:after {
						content: '';
						display: block; width: 0%; height: 2px; position: absolute; left: 50%; bottom: -2px; transform: translateX(-50%);
						background: #ffffff;
						transition: .4s ease-out;
					}
				}
			}
		}
	}

	&-slider {
		@extend .main-slider;
		padding-top: 63px;
		p {
			font-size: 16px; font-family: $s-book; line-height: 28px;
		}
	}

	&-list {
		padding-top: 49px;
		& > ul {
			& > li {
				margin-bottom: 29px;
				&:last-child {
					margin-bottom: 0;
				}

				&.active {
					margin-bottom: 43px;
					* {
						color: $main-light;
					}
					h3 {
						margin-bottom: 4px;
					}
				}

				h3 {
					font-size: 18px; font-family: $i-black; text-transform: uppercase;
				}

				p {
					font-size: 14px; font-family: $s-book;
					span {
						font-family: $s-bold;
					}
				}

				ul {
					padding-bottom: 15px; margin-bottom: 0;
					li {
						font-size: 14px; font-family: $s-book;
						span {
							font-family: $s-bold;
						}
					}
				}

				a {
					font-size: 14px; font-family: $s-book;
				}
			}
		}
	}

	&-menu {
		h2 {
			font-size: 170px; font-family: $i-black; text-transform: uppercase; letter-spacing: -13px;
		}

		p {
			font-size: 36px; font-family: $cp-light-LC; text-transform: uppercase; letter-spacing: 0.9px;
			padding-left: 10px;
		}
	}
}

//=======================//
//=== All Burgers Page ==//
//=======================//
.burgers {
	&-header {
		@extend .main-intro-header;
		padding-top: 13px; margin-bottom: 42px;
		h1 {
			letter-spacing: -9px;
		}
	}
	
}

.menu {
	&-list {
		& > p {
			font-size: 16px; font-family: $s-book; line-height: 28px;
			padding-left: 85px; margin-bottom: 197px;
		}

		&.menu {
			p {
				line-height: 26px;
			}
			a {
				figure {
					figcaption {
						h2 {
							letter-spacing: -1.7px;
						}
					}
				}
			}
		}


		a {
			display: block; width: 344px; margin-left: auto; margin-bottom: 141px; position: relative;
			&:last-child {
				margin-bottom: 0;
			}
			&:hover {
				figure {
					&:after {
						opacity: 1;
						background: rgba(8,8,8,0.7) url('../img/burgers-arrow.png') 50% center no-repeat;
					}
					figcaption {
						p {
							opacity: 1;
						}
					}
				}
			}
			&.right {
				margin-top: 46px;
			}
			&.main {
				width: 100%; margin-bottom: 197px;
				figure {
					figcaption {
						left: 82px; top: 23px; bottom: auto;
					}
				}
			}
			&.summer {
				i {
					position: absolute; left: -43px; top: -33px; z-index: 3;
				}
			}
			&.pushk-only {
				i {
					position: absolute; right: -34px; top: -29px; z-index: 3;
				}
			}			figure {
				position: relative;
				&:after {
					content: '';
					display: block; width: 100%; height: 100%; position: absolute; left: 0; top: 0; bottom: 0; right: 0; z-index: 2;
					background: rgba(8,8,8,0.7) url('../img/burgers-arrow.png') 45% center no-repeat;
					opacity: 0;
					transition: 0.4s ease-out;
				}
				
				img {
					position: relative; width: 100%;
				}

				figcaption {
					position: absolute; z-index: 3; left: -84px; top: 0; transform: translateY(-50%);
					h2 {
						font-size: 60px; font-family: $i-black; text-transform: uppercase; line-height: 55px; letter-spacing: -0.7px;
					}
					h3 {
						font-size: 60px; font-family: $cp-light-LC; text-transform: uppercase; line-height: 55px; letter-spacing: -0.7px;
					}
					p {
						font-size: 14px; font-family: $s-book; line-height: 22px;
						position: absolute; left: 0; bottom: -8px; transform: translateY(100%);
						opacity: 0; transition: .4s ease-out;
					}
				}
			}
		}
	}

	&-tea {
		padding-top: 41px;
		ul {
			li {
				display: flex; flex-wrap: wrap; margin-bottom: 8px;
				p {
					width: 80%; position: relative;
					span {
						font-size: 34px; font-family: $i-black; line-height: 34px; text-transform: uppercase; -letter-spacing: 0.6px;
						padding-right: 5px;
						background: $main-dark;
					}
					&:after {
						content:'';
						display: block; overflow: hidden; position: absolute; right: 0; bottom: 5px; width: 95%; z-index: -1;
						border-bottom: 4px dotted #ffffff;
					}
				}
				& > span {
					font-size: 34px; font-family: $cp-light; line-height: 34px; letter-spacing: 1px;
					width: 20%; padding-left: 5px;
				}
				& > em {
					font-size: 18px; font-family: $s-book; line-height: 24px;
					width: 100%; padding-left: 5px;
				}
			}
		}
	}

	&-sauces {
		padding-top: 38px;
		ul {
			li {
				font-size: 34px; font-family: $i-black; line-height: 34px; text-transform: uppercase;
				display: inline-block;
				&:last-child {
					&:after {
						display: none;
					}
				}
				&:after {
					content: '/';
					color: $main-light;
					display: inline-block; margin: 0 6px;
				}
			}
		}
	}

	&-breakfasts {
		padding-top: 74px;
		ul {
			li {
				margin-bottom: 26px;
				h3 {
					font-size: 34px; font-family: $i-black; text-transform: uppercase; line-height: 34px; letter-spacing: -0.3px;
				}
				p {
					font-size: 18px; font-family: $s-book;
				}
			}
		}
	}

	&-places {
		padding: 78px 0 0 32px;
		ul {
			li {
				font-size: 18px; font-family: $i-black; text-transform: uppercase;
				padding-left: 30px; position: relative; margin-bottom: 16px;
				&:before {
					content: '';
					position: absolute; left: 0; top: 0; display: block; width: 20px; height: 20px;
					background: url('../img/intro-star.png') center center no-repeat;
				}
			}
		}
	}
}


//=======================//
//===== Burger Page =====//
//=======================//
// intro
.intro {
	&-header {
		margin-bottom: 530px; position: relative;
		@include respond-to(md) {
			margin-bottom: 365px;
		}
		@include respond-to(sm) {
			padding: 16px 33px 0;
		}
		h1 {
			font-size: 170px; font-family: $i-black; text-transform: uppercase; line-height: 136px; letter-spacing: -5.6px;
			position: relative; left: -7px;
			@include respond-to(md) {
				font-size: 130px; line-height: 100px;
			}
			@include respond-to(sm) {
				font-size: 110px; line-height: 90px; letter-spacing: -3px;
			}
			@include respond-to(xs) {
				font-size: 60px; line-height: 48px;
			}
		}

		span {
			font-size: 170px; font-family: $cp-light; letter-spacing: -6.9px; line-height: 134px;
			position: relative; left: -7px; display: block; margin-bottom: 26px;
			@include respond-to(md) {
				font-size: 130px; line-height: 100px;
			}
			@include respond-to(sm) {
				font-size: 110px; line-height: 90px; letter-spacing: -5px;
				margin-bottom: 20px;
			}
			@include respond-to(xs) {
				font-size: 60px; line-height: 48px;
				margin-bottom: 15px;
			}
		}

		ul {
			position: relative; left: -2px;
			li {
				font-size: 36px; font-family: $cp-light-LC; text-shadow: 1px 1px 0px #000;
				display: inline-block;
				@include respond-to(sm) {
					font-size: 40px;
				}
				@include respond-to(xs) {
					font-size: 22px;
				}
				&:last-child {
					&:after {
						content: none;
					}
				}
				&:after {
					content: '/';
					font-size: 36px; font-family: $i-black;
					margin: 0 0 0 5px;
					@include respond-to(sm) {
						font-size: 40px;
					}
					@include respond-to(xs) {
						font-size: 22px;
					}
				}
			}
		}

		figure {
			position: absolute; right: -368px; top: 249px; z-index: -1;
			@include respond-to(md) {
				width: 600px; right: 50px; top: 0;
			}
		}
	}

	&-body {
		display: flex;
		@include respond-to(sm) {
			flex-wrap: wrap;
		}
		& > p {
			
			font-size: 18px; font-family: $s-regular; line-height: 32px;
			width: 430px; position: relative; top: -7px;
			@include respond-to(sm) {
				width: 100%; margin-bottom: 30px;
			}
		}

		ul {
			margin-left: 74px;
			@include respond-to(sm) {
				width: 100%; margin-left: 0;
			}
			li {
				padding-left: 30px; position: relative; margin-bottom: 36px;
				@include respond-to(sm) {
					padding: 0 30px;
				}
				&:last-child {
					margin-bottom: 0;
				}
				&:before {
					content: '';
					display: block; width: 20px; height: 20px; position: absolute; left: 0; top: -2px;
					background: url('../img/intro-star.png') center center no-repeat;
				}
				span {
					font-size: 18px; font-family: $i-black; text-transform: uppercase;
					display: block; margin-bottom: 3px;
				}

				p {
					
					font-size: 12px; font-family: $s-regular; line-height: 18px;
					max-width: 175px;
				}
			}
		}
	}
}

// composition
.composition {
	display: flex; padding: 37px 0 0 2px; position: relative;
	@include respond-to(sm) {
		flex-wrap: wrap;
	}
	ul {
		width: 390px; padding-top: 3px;
		@include respond-to(sm) {
			width: 100%; margin-bottom: 30px;
		}
		li {
			margin-bottom: 19px;
			@include respond-to(sm) {
				margin-bottom: 10px;
			}
			&:last-child {
				margin-bottom: 0;
			}
			a {
				font-size: 26px; font-family: $i-black; text-transform: uppercase; letter-spacing: -0.6px; line-height: 1;
				display: inline-block; position: relative;
				@include respond-to(sm) {
					font-size: 20px;
				}
				&:after {
					content: '';
					display: block; width: 0px; height: 4px; position: absolute; right: -20px; top: 50%; transform: translate(100%,-50%);
					background: $main-light;
					transition: 0.4s ease-out;
					@include respond-to(sm) {
						display: none;
					}
				}
				&:hover,
				&:focus,
				&:active {
					color: $main-light;
				}

				&.active {
					color: $main-light;
					&:after {
						width: 73px; right: -62px;
						@include respond-to(sm) {
							width: 50px; right: -25px;
						}
					}
				}
			}
		}
	}

	div {
		width: calc(100% - 390px); padding-left: 28px;
		@include respond-to(sm) {
			width: 100%; padding: 0;
		}
		p {
			
			font-size: 18px; font-family: $s-regular; line-height: 32px; letter-spacing: 0.2px;
			@include respond-to(sm) {
				font-size: 16px; line-height: 22px;
			}
			br {
				@include respond-to(md) {
					display: none;
				}
			}
		}
	}

	figure {
		position: absolute; left: -419px; top: -75px; z-index: -1;
	}
}

// roasting
.roasting {
	padding-top: 145px; z-index: 2; position: relative;
	@include respond-to(xs) {
		padding-top: 75px;
	}
	p {
		
		font-size: 18px; font-family: $s-book; line-height: 26px; text-shadow: 1px 1px 0 #000;
		width: 345px;
		@include respond-to(xs) {
			font-size: 16px; line-height: 22px;
			width: 100%;
		}
		br {
			@include respond-to(xs) {
				display: none;
			}
		}
	}
}

// meat
.meat {
	position: relative; z-index: 2;
	ul {
		display: flex; width: 1030px;
		@include respond-to(1099px) {
			width: 100%;
		}
		@include respond-to(sm) {
			flex-wrap: wrap;
		}
		li {
			width: 33.33333%; padding-top: 110px; padding-right: 50px; position: relative;
			@include respond-to(sm) {
				width: 100%; margin-bottom: 20px; padding-right: 0;
			}
			input {
				display: none;
			}

			i {
				position: absolute; left: 0; top: 0;
			}

			[class*='icon-meat-1'] {
				left: -6px;
				@include respond-to(sm) {
					left: 0;
				}
			}
			[class*='icon-meat-2'] {
				left: 4px; top: 5px;
				@include respond-to(sm) {
					left: 0;
				}
			}
			[class*='icon-meat-3'] {
				left: -16px; top: 4px;
				@include respond-to(sm) {
					left: 0;
				}
			}
			[class$='checked'] {
				display: none;
			}

			h3 {
				font-size: 18px; font-family: $i-black; text-transform: uppercase; letter-spacing: -0.25px;
				margin-bottom: 8px;
			}

			p {

				font-size: 18px; font-family: $s-book; font-weight: 400; line-height: 26px;
				@include respond-to(md) {
					font-size: 16px; line-height: 24px;
				}
			}
		}
	}
}

// add 
.add {
	ul {
		display: flex; justify-content: space-between; flex-wrap: wrap; padding-top: 66px; margin: 0 0 -83px; width: 1030px;
		@include respond-to(1099px) {
			width: 100%;
		}
		li {
			width: 25%; margin-bottom: 84px; padding-top: 100px; position: relative;
			@include respond-to(1099px) {
				text-align: center;
				width: 33.33333%;
			}
			@include respond-to(sm) {
				width: 50%; margin-bottom: 40px;
			}
			@include respond-to(xs) {
				margin-bottom: 30px; padding-top: 80px;
			}

			i {
				position: absolute; left: 0; top: 0;
				@include respond-to(xs) {
					transform: scale(0.7);
				}
			}

			[class*='icon-add-1'] {
				left: -1px; top: 2px;
			}
			[class*='icon-add-2'] {
				left: 0; top: -8px;
			}
			[class*='icon-add-3'] {
				left: -9px; top: -8px;
			}
			[class*='icon-add-4'] {
				left: 0; top: -6px;
			}
			[class*='icon-add-5'] {
				left: -14px; top: 15px;
			}
			[class*='icon-add-6'] {
				left: -1px; top: 1px;
			}
			[class*='icon-add-7'] {
				left: -1px; top: 6px;
			}
			[class*='icon-add-8'] {
				left: -6px; top: 11px;
			}
			[class*='icon-add-9'] {
				left: -12px; top: 7px;
			}

			[class$='checked'] {
				display: none;
			}

			p {
				font-size: 18px; font-family: $i-black; text-transform: uppercase; line-height: 24px; letter-spacing: -0.2px;
			}
		}
	}
}

//=======================//
//===== Company Page ====//
//=======================//
.company {

	// intro
	&-intro {
		h1 {
			font-size: 170px; font-family: $i-black; text-transform: uppercase; line-height: 140px; letter-spacing: -6px;
			margin-bottom: 20px;
			&:last-child {
				margin-bottom: 0;
			}
		}

		p {
			font-size: 24px; font-family: $i-light; text-transform: uppercase; line-height: 32px; letter-spacing: 0.65px;
			margin-bottom: 15px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	// mission
	&-mission {
		padding-top: 33px;
		p {
			font-size: 16px; font-family: $s-book; line-height: 28px; letter-spacing: 0.1px;
			margin-bottom: 28px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	// worth
	&-worth {
		padding-top: 32px;
		ul {
			li {
				font-size: 16px; font-family: $s-book; line-height: 26px; letter-spacing: 0.1px;
				padding-left: 23px; position: relative; margin-bottom: 15px;
				&:before {
					content: '';
					display: block; width: 5px; height: 5px; position: absolute; left: 8px; top: 11px;
					background: $main-dark; border-radius: 50%;
				}
			}
		}
	}

	// command
	&-command {
		padding-top: 40px; position: relative; z-index: 3;
		p {
			font-size: 16px; font-family: $s-book; line-height: 28px; letter-spacing: 0.1px;
			margin-bottom: 25px;
		}

		ul {
			li {
				font-size: 16px; font-family: $s-book; line-height: 24px; letter-spacing: 0.1px;
				padding-left: 15px; position: relative; margin-bottom: 10px;
				&:last-child {
					margin-bottom: 0;
				}
				&:before {
					content: '';
					display: block; width: 5px; height: 5px; position: absolute; left: 0px; top: 10px;
					background: $main-dark; border-radius: 50%;
				}
			}
		}
	}

	// vacancy
	&-vacancy {
		padding-top: 48px; position: relative; left: -5px; z-index: 3;
		h3 {
			color: #ffffff; font-size: 42px; font-family: $cp-light; text-transform: uppercase; line-height: 36px;
			margin-bottom: 30px;
		}
		h4 {
			color: #ffffff; font-size: 24px; font-family: $i-light; text-transform: uppercase;
			margin-bottom: 30px;
		}

		ul {
			margin-bottom: 40px;
			li {
				margin-bottom: 24px;
				&:last-child {
					margin-bottom: 0;
				}
				a {
					color: #ffffff; font-size: 42px; font-family: $i-black; text-transform: uppercase; line-height: 33px; letter-spacing: -0.5px;
					position: relative;
					&:after {
						content: '';
						display: block; width: 0%; height: 3px; position: absolute; left: 50%; bottom: -2px; transform: translateX(-50%);
						background: #ffffff;
						transition: .4s ease-out;
					}
					&:hover {
						&:after {
							width: 100%;
						}
					}
				}
				h4 {
					a {
						font-size: 60px;
					}
				}
			}
		}

		& > a {
			color: #ffffff; font-size: 16px; font-family: $i-black; text-transform: uppercase; letter-spacing: 0.4px;
			position: relative;
			&:after {
				content: '';
				display: block; width: 0%; height: 2px; position: absolute; left: 50%; bottom: -2px; transform: translateX(-50%);
				background: #ffffff;
				transition: 0.4s ease-out;
			}
			&:hover {
				&:after {
					width: 100%;
				}
			}
		}

		&-info {
			margin-top: 65px; overflow-y: auto; height: 400px; padding-right: 15px;
			&::-webkit-scrollbar {
				width: 6px;
			}
			&::-webkit-scrollbar-thumb {
				background: #ffffff; border-radius: 50px;
			}
			.light & {
				&::-webkit-scrollbar-thumb {
					background: $main-dark;
				}
			}
			h3 {
				font-size: 18px; font-family: $i-black; text-transform: uppercase; line-height: 24px;
				margin-bottom: 18px;
			}

			ul {
				margin-bottom: 45px;
				&:last-child {
					margin-bottom: 0;
				}
				li {
					font-size: 16px; font-family: $s-book; line-height: 24px; letter-spacing: 0.1px;
					padding-left: 15px; position: relative; margin-bottom: 10px;
					&:last-child {
						margin-bottom: 0;
					}
					&:before {
						content: '';
						display: block; width: 5px; height: 5px; position: absolute; left: 0px; top: 10px;
						background: $main-dark; border-radius: 50%;
					}
				}
			}
		}
		&-another {
			position: relative; z-index: 3; padding-top: 65px;
			h4 {
				color: #ffffff; font-size: 24px; font-family: $i-light; text-transform: uppercase;
				margin-bottom: 33px;
			}

			ul {
				margin-bottom: 40px;
				li {
					margin-bottom: 21px;
					&:last-child {
						margin-bottom: 0;
					}
					a {
						color: #ffffff; font-size: 60px; line-height: 55px; font-family: $i-black; text-transform: uppercase; letter-spacing: -0.5px;
						position: relative;
						&:after {
							content: '';
							display: block; width: 0%; height: 3px; position: absolute; left: 50%; bottom: -2px; transform: translateX(-50%);
							background: #ffffff;
							transition: .4s ease-out;
						}
						&:hover {
							&:after {
								width: 100%;
							}
						}
					}
				}
			}
		}
	}

	// news
	&-news {
		padding-top: 40px;
		& > p {
			font-size: 16px; font-family: $s-book; line-height: 28px;
			margin-bottom: 15px;
		}

		ul {
			display: flex; width: 1000%; padding-top: 32px;
			li {
				width: 345px; margin-right: 50px;
				&:last-child {
					margin-right: 0;
				}
				a {
					display: inline-block;
					&:hover {
						figure {
							figcaption {
								* {
									color: $main-light;
								}
							}
						}
					}

					figure {
						img {

						}
						figcaption {
							padding-top: 11px;
							p {
								font-size: 12px; font-family: $s-regular;
								margin-bottom: 6px;
							}

							h3 {
								font-size: 16px; font-family: $i-black; text-transform: uppercase; line-height: 22px; letter-spacing: -0.15px;
							}
						}
					}
				}
			}
		}
	}

	// contacts
	&-contacts {
		padding-top: 48px;
		ul {
			li {
				margin-bottom: 22px;
				&:last-child {
					margin-bottom: 0;
				}
				h3 {
					font-size: 18px; font-family: $i-black; text-transform: uppercase; letter-spacing: -0.2px;
					margin-bottom: 3px;
				}

				p {
					font-size: 18px; font-family: $i-light; text-transform: uppercase; letter-spacing: -0.3px;
				}
			}
		}
	}
}


//=======================//
//======= Popups ========//
//=======================//
.popup {
	&-bhf {
		&-activation {
			display: none; position: fixed; left: 0; top: 0;width: 100%; height: 100%; z-index: 1000; padding: 84px 0 140px;
			background: $main-dark;
			overflow-y: auto; overflow-x: hidden;

			&:before {
				content: '';
				display: block; width: 100%; height: 100%; position: fixed; right: 42.85714%; top: 0; transform: translateX(100%); z-index: 2;
				background: rgba(19,17,18,0.4);
			}
			&:after {
				content: '';
				display: block; width: 100%; height: 100%; position: fixed; right: 42.85714%; top: 0; transform: translateX(100%); z-index: 1;
				background: url('../img/bhf-activate.jpg') -270px -70px no-repeat;
			}
			a.close {
				position: fixed; right: 82px; top: 89px; z-index: 20; display: block; width: 30px; height: 30px;
				opacity: 0.6;
				transition: 0.3s ease-out;
				i {
					position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);
				}
				&:hover {
					opacity: 1;
				}
			}

			.light & {
				background: #ffffff;
			}
		}
	}

	&-company {
		&-vacancy {
			display: none; position: fixed; left: 0; top: 0;width: 100%; height: 100%; z-index: 1000; padding: 54px 0 0;
			background: $main-dark;
			overflow-y: auto; overflow-x: hidden;

			&:before {
				content: '';
				display: block; width: 100%; height: 100%; position: fixed; right: 42.85714%; top: 0; transform: translateX(100%); z-index: 2;
				background: rgba(19,17,18,0.4);
			}
			&:after {
				content: '';
				display: block; width: 100%; height: 100%; position: fixed; right: 42.85714%; top: 0; transform: translateX(100%); z-index: 1;
				background: url('../img/company-vacancy.jpg') 0px -3px no-repeat;
			}

			a.close {
				position: fixed; right: 82px; top: 89px; z-index: 20; display: block; width: 30px; height: 30px;
				opacity: 0.6;
				transition: 0.3s ease-out;
				i {
					position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);
				}
				&:hover {
					opacity: 1;
				}
			}

			.light & {
				background: #ffffff;
			}

			& > div {
				display: none; position: absolute; left: 50%; transform: translateX(-50%); z-index: 100; padding: 0 0 50px;
				&.active-popup {
					// position: relative; left: 0; transform: translateX(0);
					z-index: 105;
				}
			}
		}
	}
}