body {
	background: $main-dark;
}
.app {
	min-width: 320px;
	overflow-x: hidden;
	// width: 1200px;

	@include respond-to(sm) {
		padding: 0 15px;
	}

	& > * {
		position: relative;
	}

	.wr {
		&-header {
			padding: 31px 0 19px;
		}

		&-main {
			&-intro {
				position: relative; padding-bottom: 267px;
				figure {
					position: absolute; right: 0; top: 16px; z-index: -1;
				}

			}

			&-slider {
				position: relative; padding-bottom: 401px;
				figure {
					position: absolute; right: -75px; top: 56px; z-index: -1;
				}
			}

			&-info {
				position: relative; padding-bottom: 161px;
				figure {
					position: absolute; right: -475px; top: 47px; z-index: -1;
				}
			}

			&-map {
				position: relative; padding-bottom: 228px;
				figure {
					position: absolute; right: -254px; top: 71px; z-index: -1;
				}
			}
		}

		&-intro {
			padding: 6px 0 209px; position: relative;
			// background: url('../img/burger-1.jpg') no-repeat; background-position: right -283px top 255px;
			// figure {
			// 	position: absolute; right: -283px; top: 255px;
			// 	@include respond-to(md) {
			// 		width: 600px; right: 50px; top: 0;
			// 	}
			// }

			
		}

		&-composition {
			position: relative; padding: 0 0 328px;
			// background: url('../img/burger-2.jpg') no-repeat; background-position: left -248px top 51px;
			// figure {
			// 	position: absolute; left: -248px; top: 51px; z-index: -1;
			// }
		}

		&-roasting {
			position: relative; padding: 0 0 165px;
			figure {
				position: absolute; right: 0; top: 77px; z-index: 1;
				@include respond-to(sm) {
					right: -15px;
				}
				@include respond-to(xs) {
					width: 500px;
				}
				img {
					@include respond-to(xs) {
						width: 100%;
					}
				}
			}
		}

		&-meat {
			padding: 0 0 101px;
		}

		&-add {
			padding: 0 0 145px;
		}

		&-bhf {
			&-intro {
				padding-bottom: 102px;
			}
			&-slider {
				@extend .wr-main-slider;
				padding-bottom: 457px;
			}
			&-join-info {
				padding-bottom: 99px;
			}
			&-activation {
				padding: 84px 0 140px;
				&:before {
					content: '';
					display: block; width: 100%; height: 100%; position: absolute; right: 42.85714%; top: 0; transform: translateX(100%); z-index: 2;
					background: rgba(19,17,18,0.4);
				}
				&:after {
					content: '';
					display: block; width: 100%; height: 100%; position: absolute; right: 42.85714%; top: 0; transform: translateX(100%); z-index: 1;
					background: url('../img/bhf-activate.jpg') -270px -70px no-repeat;
				}
				a.close {
					position: absolute; right: 82px; top: 89px; z-index: 20; display: block; width: 30px; height: 30px;
					opacity: 0.6;
					transition: 0.3s ease-out;
					i {
						position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);
					}
					&:hover {
						opacity: 1;
					}
				}
			}
		}
		
		&-footer {
			padding: 0 0 65px;
		}
	}
}