body {
	background: $main-dark;
	&.light {
		background: #ffffff;
	}
}
.app {
	min-width: 320px;
	overflow-x: hidden;
	// width: 1200px;
	@include respond-to(sm) {
		padding: 0 0 0 45px;
	}
	@include respond-to(xs) {
		padding-left: 20px;
	}

	& > * {
		position: relative;
	}

	&.absolute-header {
		position: relative;
		.wr-header {
			position: absolute; width: 100%; top: 0; left: 0;
			@include respond-to(sm) {position: relative;}
		}
	}

	.wr {
		&-header {
			padding: 31px 0 19px; z-index: 110;
			@include respond-to(sm) {padding-top: 53px;}
		}

		&-navigation {
			position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 100; transform: translateX(-100%); padding-top: 103px;
			// width: 1200px;
			background: $main-dark;
			transition: .4s ease-out;
			overflow: hidden;
			div {
				@include respond-to(sm) {height: 100%;}
			}
			&.active {
				transform: translateX(0);
			}

			.light & {
				background: #ffffff;
			}
		}

		&-page {
			&-intro {
				padding: 70px 0 140px;
			}
		}

		&-main {
			&-intro {
				position: relative; padding-bottom: 143px;
				figure {
					position: absolute; right: 0; top: 16px; z-index: -1;
					@include respond-to(md) {display: none;}

					&.mobile {
						display: none;
						@include respond-to(md) {
							display: block; bottom: -30px; right: 0; top: auto;
						}
					}
				}
			}

			&-slider {
				position: relative; padding-bottom: 401px;
				@include respond-to(sm) {padding-bottom: 153px;}

				h2 {
					@include respond-to(sm) {position: absolute;
					@media (max-width: 639px) {top: 64px;}
					}
				}
				figure {
					position: absolute; right: -75px; top: 56px; z-index: -1;
					@include respond-to(sm) {
						width: calc(100% + 45px); height: 455px; top: 120px; right: 0; 
					}

					img {
						@include respond-to(sm) {
							height: 100%;
						}
					}
				}
			}

			&-info {
				position: relative; padding-bottom: 161px;
				@include respond-to(md) {padding-bottom: 410px;}
				@include respond-to(sm) {display: none;}
				figure {
					position: absolute; right: -475px; top: 47px; z-index: -1;
				}
			}

			&-map {
				position: relative; padding-bottom: 228px;
				@include respond-to(md) {padding-bottom: 255px;}
				@include respond-to(sm) {padding-bottom: 557px;}
				@media (max-width: 639px) {padding-bottom: 451px;}
				@include respond-to(xs) {padding-bottom: 734px;}

				figure {
					position: absolute; right: -254px; top: 71px; z-index: -1;
					@include respond-to(sm) {display: none;}
					&.mobile {
						display:none;
						@include respond-to(sm) {
							display: block; top: 55px; right: 0;
						}
					}
				}
			}
		}

		&-intro {
			padding: 6px 0 209px; position: relative;
			@include respond-to(sm) {
				padding: 6px 0 115px;
			}
			@include respond-to(xs) {
				padding: 0 0 80px;
			}
		}

		&-composition {
			position: relative; padding: 0 0 328px;
			@include respond-to(sm) {
				padding: 0 0 126px;
			}
			@include respond-to(xs) {
				padding: 0 0 80px;
			}
		}

		&-roasting {
			position: relative; padding: 0 0 165px;
			@include respond-to(sm) {
				padding: 0 0 74px;
			}
		}

		&-meat {
			padding: 0 0 101px;
			@include respond-to(sm) {
				padding: 0 0 167px;
			}
		}

		&-add {
			padding: 0 0 145px;
			@include respond-to(sm) {
				padding: 0 0 263px;
			}
			@include respond-to(xs) {
				padding: 0 0 120px;
			}
		}

		&-bhf {
			&-intro {
				padding-bottom: 102px;
				@include respond-to(sm) {padding-bottom: 172px;}
			}
			&-slider {
				@extend .wr-main-slider;
				padding-bottom: 457px;
				@include respond-to(sm) {padding-bottom: 93px;}
			}
			&-join-info {
				padding-bottom: 99px;
				@include respond-to(sm) {padding-bottom: 135px;}

				.section-header {
					@include respond-to(sm) {
						left: -8px; top: -3px;
					}
					h2 {
						@include respond-to(md) {
							white-space: pre-line;
						}
						@include respond-to(sm) {
							font-size: 100px; line-height: 84px; letter-spacing: -2.7px;
						}
						@media (max-width: 639px) {
							font-size: 64px; line-height: 50px; letter-spacing: -2px;
						}
						@include respond-to(xs) {
							font-size: 52px;  line-height: 42px;
						}
					}
				}
			}
		}

		&-burgerPlace {
			&-intro {
				padding: 8px 0 150px;
				@include respond-to(sm) {padding-bottom: 135px;}

				figure {
					position: absolute; right: 42.85714%; top: 248px; transform: translateX(100%); z-index: -1;
					@include respond-to(md) {display: none;}
				}
			}

			&-slider {
				@extend .wr-main-slider;
				padding: 0 0 422px;
				@include respond-to(md) {padding-bottom: 550px;}
				@include respond-to(sm) {padding: 0 0 162px;}

				h2 {
					@include respond-to(sm) {
						font-size: 100px; letter-spacing: -3.9px; line-height: 83px;
						position: relative; left: -4px;
					}
					@media (max-width: 639px) {
						font-size: 90px; line-height: 74px;
						top: 0;
					}
					@include respond-to(xs) {
						font-size: 56px; line-height: 47px;
					}
				}
				figure {
					right: 0; top: 194px;
					@include respond-to(sm) {
						position: relative; top: 18px; left: -45px; right: auto; height: 459px;
					}
				}
			}

			&-gallery {
				@extend .wr-main-slider;
				padding: 0 0 732px;
				figure {
					right: 0; top: 61px;
				}
			}
			&-list {
				width: 100%; height: 100vh; padding-top: 130px;
				@include respond-to(sm) {padding-top: 0;}
				.nav-map {
					display: none;
					@include respond-to(sm) {
						text-align: right;
						display: block; padding-right: 45px; width: calc(100% - 100px); position: absolute; z-index: 111; top: -50px; right: 0;
					}
					@media (max-width: 639px) {
						text-align: left;
						top: 0; left: 0; width: 100%;
					}

					li {
						display: none;
						&.active {display: block;}

						a {
							font-family: $i-black; font-size: 32px;  letter-spacing: -0.7px; text-transform: uppercase;  
							@media (max-width: 639px) {
								font-size: 26px; letter-spacing: 0.5px;
							}
						}
					}
					
				}

				& > figure {
					position: absolute; left: 0; right: 0; top: 0; bottom: 0; width: 100%; height: 100%;
					overflow: hidden;
					@include respond-to(sm) {display: none;}

					img {
						width: 100%; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);
					}
				}
			}
			&-menu {
				padding: 11px 0 26px;
			}
		}

		&-burgers {
			.row {
				& > div {
					&:last-child {
						.menu {
							&-list {
								&.menu {
									a {
										&:last-child {
											margin-bottom: 0;
										}
									}
								}
								a {
									&:last-child {
										margin-bottom: -229px;
										@include respond-to(lg) {margin-bottom: -130px;}
										@include respond-to(md) {margin-bottom: 108px;}
									}
								}
							}
						}
					}
				}
			}
		}

		&-menu {
			padding: 72px 0 89px;

			&.first {

				.menu-list {
					padding-top: 160px;
					&.right {
						padding-top: 180px;
					}
				}
			}

			&.second {
				.menu-list {
					padding-top: 50px;
					&.right {
						padding-top: 137px;
					}
				}
			}

			&-tea {
				padding: 73px 0 130px;
				h2 {
					@include respond-to(sm) {
						font-size: 76px; line-height: 67px;
					}
					@media (max-width: 639px){font-size: 64px;}
					@include respond-to(xs) {font-size: 44px;}
				}
			}

			&-sauces {
				padding: 0 0 123px;
				@include respond-to(sm) {
					font-size: 76px; line-height: 67px;
				}
			}

			&-breakfasts {
				padding: 0 0 64px;
				@include respond-to(sm) {
					font-size: 76px; line-height: 67px;
				}
				@include respond-to(sm) {line-height: 34px;}

				h3 {
					@media (max-width: 639px) {
						font-size: 36px; line-height: 32px; letter-spacing: -2px;
					}
					@include respond-to(xs) {
						font-size: 28px; letter-spacing: -0.8px;
					}
					
				}
			}
		}

		&-company {
			&-intro {
				padding: 14px 0 135px;
				@include respond-to(sm) {padding-bottom: 74px;}
				figure {
					display: none;
					@include respond-to(sm) {
						display: block; position: absolute; top: -113px; left:-45px; z-index: -1; 
						@include respond-to(xs) {left: -20px;}
					}
					img {
						@include respond-to(sm) {
							width: 100%;
						}
						@media (max-width: 639px) {width: 640px;}
						@include respond-to(xs) {width: 480px;}
					}
				}
			}

			&-mission {
				padding: 0 0 162px;
				@include respond-to(sm) {padding-left: 48px; padding-bottom: 70px;}
				@include respond-to(xs) {padding-left: 0;}
				h2 {
					@include respond-to(sm) {
						font-size: 42px; letter-spacing: -1.5px; line-height: 37px;
					}
					span {
						display: none;
						@include respond-to(sm) {display: inline-block;}
					}
				}
				figure {
					position: absolute; right: 42.85714%; top: -314px; transform: translateX(100%); z-index: -1;
					@include respond-to(sm) {display: none;}
				}
			}

			&-worth {
				padding: 0 0 137px;
				@include respond-to(sm) {padding-left: 48px;}
				@include respond-to(xs) {padding-left: 25px;}
				h2 {
					@include respond-to(sm) {
						font-size: 42px; letter-spacing: -1.5px; line-height: 37px;
					}
					br {
						@include respond-to(sm) {display: none;}
					}
					span {
						display: none;
						@include respond-to(sm) {display: inline-block;}
					}
				}
			}

			&-command {
				padding: 0 0 188px;
				@include respond-to(sm) {
					padding-top: 413px;
				}
				@include respond-to(xs) {
					padding-top: 283px;
				}
				h2 {
					@include respond-to(sm) {
						font-size: 110px; line-height: 90px; letter-spacing: -6.8px;
						position: relative; left: -2px;
					}
					@media (max-width: 639px) {
						font-size: 80px;  line-height: 64px;
					}
					@include respond-to(xs) {
						font-size: 60px; line-height: 46px;
					}
				}
				figure {
					position: absolute; right: 42.85714%; top: 61px; transform: translateX(100%); z-index: -1;
					@include respond-to(sm) {display: none;}
					&.mobile {
						display: none;
						@include respond-to(sm) {
							display: block; right: auto; left: -45px; top: -50px; transform: none; 
						}
					}

					img {
						@include respond-to(xs) {width: 480px;}
					}
				}
			}

			&-news {
				padding: 0 0 266px;
				@include respond-to(sm) {padding-bottom: 180px;}
				@include respond-to(xs) {padding-bottom: 150px;}
				h2 {
					@include respond-to(sm) {
						font-size: 110px; letter-spacing: -6.4px; left: -3px;
						position: relative; 
					}
					@media (max-width: 639px) {
						font-size: 80px;  line-height: 64px;
					}
					@include respond-to(xs) {
						font-size: 60px; line-height: 46px;
					}
					span {
						@include respond-to(sm) {display: none;}
						&.mob {
							display: none;
							@include respond-to(sm) {display: inline;}
						}
					}
				}
			}

			&-contacts {
				padding: 0 0 146px;
				@include respond-to(sm) {
					padding-bottom: 83px;
				}
				h2 {
					@include respond-to(sm) {
						font-size: 110px; letter-spacing: -7.1px;
						position: relative; left: -3px;
					}
					@media (max-width: 639px) {
						font-size: 80px;  line-height: 64px;
					}
					@include respond-to(xs) {
						font-size: 60px; line-height: 46px;
					}
				}
			}
		}
		
		&-footer {
			padding: 0 0 65px;
			@include respond-to(sm) {
				margin-left: -5px;
			}
		}
	}
}