//===== Colors =====//
$main-dark: #080808;
$main-light: #fbb040;

//===== Fonts =====//
// Intro
$i-light: 'intro-light', sans-serif;
$i-thin: 'intro-thin', sans-serif;
$i-black: 'intro-black', sans-serif;
$i-book: 'intro-book', sans-serif;

// Code Pro
$cp-light: 'code-pro-light', sans-serif;

// Code Pro LC
$cp-light-LC: 'code-pro-light-lc', sans-serif;

// Stolzl
$s-regular: 'stolzl-regular', sans-serif;
$s-book: 'stolzl-book', sans-serif;
$s-medium: 'stolzl-medium', sans-serif;
$s-bold: 'stolzl-bold', sans-serif;

// rouble
$rouble: 'rouble', sans-serif;