/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-add-1-checked {
  background-image: url(../img/sprite.png);
  background-position: -343px -182px;
  width: 88px;
  height: 81px;
}
.icon-add-1 {
  background-image: url(../img/sprite.png);
  background-position: 0px -393px;
  width: 88px;
  height: 81px;
}
.icon-add-2-checked {
  background-image: url(../img/sprite.png);
  background-position: -171px -393px;
  width: 83px;
  height: 78px;
}
.icon-add-2 {
  background-image: url(../img/sprite.png);
  background-position: -88px -393px;
  width: 83px;
  height: 78px;
}
.icon-add-3-checked {
  background-image: url(../img/sprite.png);
  background-position: -437px -83px;
  width: 99px;
  height: 83px;
}
.icon-add-3 {
  background-image: url(../img/sprite.png);
  background-position: -437px 0px;
  width: 99px;
  height: 83px;
}
.icon-add-4-checked {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 121px;
  height: 84px;
}
.icon-add-4 {
  background-image: url(../img/sprite.png);
  background-position: -121px 0px;
  width: 121px;
  height: 84px;
}
.icon-add-5-checked {
  background-image: url(../img/sprite.png);
  background-position: -226px -311px;
  width: 122px;
  height: 67px;
}
.icon-add-5 {
  background-image: url(../img/sprite.png);
  background-position: -104px -311px;
  width: 122px;
  height: 67px;
}
.icon-add-6-checked {
  background-image: url(../img/sprite.png);
  background-position: -242px 0px;
  width: 101px;
  height: 86px;
}
.icon-add-6 {
  background-image: url(../img/sprite.png);
  background-position: -242px -86px;
  width: 101px;
  height: 86px;
}
.icon-add-7-checked {
  background-image: url(../img/sprite.png);
  background-position: 0px -311px;
  width: 104px;
  height: 82px;
}
.icon-add-7 {
  background-image: url(../img/sprite.png);
  background-position: -204px -226px;
  width: 104px;
  height: 82px;
}
.icon-add-8-checked {
  background-image: url(../img/sprite.png);
  background-position: 0px -155px;
  width: 138px;
  height: 71px;
}
.icon-add-8 {
  background-image: url(../img/sprite.png);
  background-position: 0px -84px;
  width: 138px;
  height: 71px;
}
.icon-add-9-checked {
  background-image: url(../img/sprite.png);
  background-position: -437px -166px;
  width: 91px;
  height: 85px;
}
.icon-add-9 {
  background-image: url(../img/sprite.png);
  background-position: -437px -251px;
  width: 91px;
  height: 85px;
}
.icon-logo-footer {
  background-image: url(../img/sprite.png);
  background-position: -348px -311px;
  width: 61px;
  height: 60px;
}
.icon-logo-header {
  background-image: url(../img/sprite.png);
  background-position: -437px -336px;
  width: 27px;
  height: 27px;
}
.icon-meat-1-checked {
  background-image: url(../img/sprite.png);
  background-position: -102px -226px;
  width: 102px;
  height: 85px;
}
.icon-meat-1 {
  background-image: url(../img/sprite.png);
  background-position: 0px -226px;
  width: 102px;
  height: 85px;
}
.icon-meat-2-checked {
  background-image: url(../img/sprite.png);
  background-position: -138px -84px;
  width: 74px;
  height: 70px;
}
.icon-meat-2 {
  background-image: url(../img/sprite.png);
  background-position: -138px -155px;
  width: 74px;
  height: 70px;
}
.icon-meat-3-checked {
  background-image: url(../img/sprite.png);
  background-position: -343px -91px;
  width: 94px;
  height: 91px;
}
.icon-meat-3 {
  background-image: url(../img/sprite.png);
  background-position: -343px 0px;
  width: 94px;
  height: 91px;
}
